{% extends 'layout_home.html' %}
{% block content %}
<div class="container">
    <div class="card card-body bg-light animated fadeInDown text-center">
            <p class="text-center display-4 animated fadeInDown">Console</p>
            <hr class="mb-4">
            {% if error %}
                <a class="alert alert-danger"> {{ error }}</a>
            {% endif %}
            <form method="post" action="">
                {% if data %}
                        <textarea class="form-control" rows="15" class="col-lg-12" style="resize: none;" readonly>{{ data }}</textarea><br />
                {% else %}
                        <textarea class="form-control" rows="15" class="col-lg-12" style="resize: none;" readonly></textarea><br />
                {% endif %}

                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.console_command(class="form-control", placeholder="command") }}
                </div>
            </form>
    </div>
</div>


{% endblock content %}