{% extends 'layout.html' %}

{% block content %}
    <div class="jumbotron text-center animated fadeInUp">
        <h1 class="display-4">Welcome {{ username }}</h1>
        <p class="lead">This tool has been built open source and it's free!</p>
        <p class="lead ">So If you like my project please consider helping with the project or you can donate<br>to keep this project alive</p>
        <button class="btn btn-primary" data-toggle="collapse" data-target="#demo">Information</button>
        <div class="collapse lead" id="demo">
            <br>
            Github Project: <a target="_blank" href="https://www.github.com/MrSSHH">Click Me</a><br>
            Donate: <a target="_blank" href="https://www.github.com/MrSSHH">Click Me</a>
            <br>
            <img width="60" height="60" src="https://i.imgur.com/E8m4hWx.png" alt="Heart :)">
            <p>Thank you! <br> Created by Benjamin aka MrSSHH</p>
        </div>

    </div>

</div>

{% endblock content %}